#icon-image
{
	border:1px solid  #0000cd;
	border-radius:40em;
	width:100px;
	height:100px;
	padding-left:50px;

	
}
header
{
		background-color:lightblue;
		width:1360px;
		margin-left:-110px;
}
#heading1
{
	margin-top:-40px;
	font-size:30px;
	font-family:lucida calligraphy;
	text-align:center;
	color:white;

}
.home
{
	margin-top:30px;
}
.home li
{
	display:inline;
	list-style-type:none;
	margin-left:30px;
	font-size:20px;
}
